body {
    --logo-size: 26px;
    --font-size-big: 20px;
    --font-size-normal: 14px;
    --font-size-small: 10px;
    --spacing: 20px;
    --transition-time: 0.2s;
    --border-width: 3px;
    --white: hsl(0, 0%, 95%);
    --white-darker: hsl(0, 0%, 90%);
    --grey: hsl(0, 0%, 85%);
    --grey-darker: hsl(0, 0%, 75%);
    --orange: hsl(27, 100%, 60%);
    --orange-darker: hsl(27, 100%, 40%);
    --blue: hsl(231, 100%, 65%);
    --blue-darker: hsl(231, 100%, 55%);
    --blue-lighter: hsl(231, 100%, 75%);
    --green: hsl(143, 100%, 31%);
    --green-darker: hsl(143, 100%, 24%);
    --green-lighter: hsl(143, 36%, 62%);
    background: var(--white);
    font-size: var(--font-size-normal);
    margin: 0;
    width: 350px;
}

p,
ul {
    margin: 0;
}

ul {
    columns: 2;
}

header {
    position: relative;
}

h1 {
    text-align: left;
    font-size: var(--font-size-big);
    background: var(--orange);
    padding: calc(var(--spacing) + 2px);
    padding-left: calc(var(--spacing) * 1.5 + var(--logo-size));
    padding-bottom: calc(var(--spacing) - var(--font-size-big) / 13);
    padding-top: calc(var(--spacing) + var(--font-size-big) / 13);
    border-bottom: solid var(--border-width) var(--orange-darker);
    margin: 0;
    color: var(--white);
    font-weight: normal;
}

strong {
    font-weight: bold;
}

#logo {
    width: var(--logo-size);
    position: absolute;
    top: calc(var(--spacing) - 2px);
    left: var(--spacing);
}

#content {
    margin: var(--spacing);
}

#replace-covid-input {
    background: var(--white-darker);
    border: none;
    border-bottom: solid var(--border-width) var(--grey-darker);
    margin: 0 0 var(--spacing) 0;
    padding: var(--spacing);
    width: 100%;
    font-size: 16px;
}

button {
    width: 100%;
    outline: none;
    border: solid var(--border-width) var(--blue-darker);
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--white);
    padding: var(--spacing);
}

#decontaminate {
    font-size: var(--font-size-normal);
    background-color: var(--blue);
    border: 0;
    border-top: solid var(--border-width) var(--blue-darker);
    border-bottom: solid calc(var(--border-width) * 2) var(--blue);
    transition: border var(--transition-time) ease,
        background-color var(--transition-time) ease,
        color var(--transition-time) ease;
}

#decontaminate:active {
    background-color: var(--blue-lighter);
}

#decontaminate:disabled {
    background-color: var(--white-darker);
    border: 0;
    border-top: solid var(--border-width) var(--grey);
    color: #888;
}

#app-choices {
    margin-bottom: calc(var(--spacing) / 2);
    list-style-type: none;
    padding: 0;
    column-gap: calc(var(--spacing) / 2);
}

#app-choices button {
    margin-bottom: var(--spacing);
    cursor: pointer;
    font-size: var(--font-size-small);
    padding: calc(var(--spacing) / 2) var(--spacing);
    margin-bottom: calc(var(--spacing) / 2);
    background-color: var(--white-darker);
    border: solid 2px var(--grey);
    color: #888;
}

#app-choices button:active {
    background: var(--white);
}

#switch {
    position: absolute;
    right: var(--spacing);
    top: calc(var(--spacing) + var(--logo-size) / 3 - 1px);
    width: calc(var(--logo-size) * 2);
    height: calc(var(--logo-size) / 3);
}

#switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--grey);
    -webkit-transition: 0.4s;
    transition: var(--transition-time);
    border-radius: 34px;
    box-shadow: 0 0 3px var(--orange-darker);
}

#switch .slider:before {
    border-radius: 50%;
    position: absolute;
    margin-top: calc(var(--logo-size) / -3);
    content: "";
    height: var(--logo-size);
    width: var(--logo-size);
    background-color: var(--white);
    -webkit-transition: 0.4s;
    transition: var(--transition-time);
    box-shadow: 0 0 5px var(--orange-darker);
}

#switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

#switch input:checked + .slider {
    background-color: var(--blue);
}

#switch input:checked + .slider:before {
    -webkit-transform: translateX(var(--logo-size));
    -ms-transform: translateX(var(--logo-size));
    transform: translateX(var(--logo-size));
}
